body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    background-color: #f9f9f9;
    transition: background-color 2s ease; /* 使背景颜色渐变 */
}

.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #333;
    padding: 10px;
    transition: transform 0.3s ease;
}

.menu-item {
    background-color: #444;
    color: white;
    border: none;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item.selected {
    transform: translateX(20px);
    background-color: #666;
    padding-left: 40px;
    font-weight: bold;
}

.menu-item.selected::after {
    content: '▶';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

#content-text {
    font-size: 24px;
}

@keyframes dockOpen {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(10);
        opacity: 0;
    }
}

.menu-item.dock-open {
    animation: dockOpen 1s forwards;
}