body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    transition: background-color 2s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #333;
    padding: 10px;
    transition: transform 0.3s ease;
}

.menu-item {
    background-color: #444;
    color: white;
    border: none;
    padding: 20px;
    margin: 10px 0;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, padding-left 0.3s ease;
}

.menu-item:hover {
    background-color: #555;
}

.menu-item.selected {
    transform: translateX(20px);
    background-color: #666;
    padding-left: 40px;
    font-weight: bold;
}

.menu-item.selected::after {
    content: '▶';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
}

.content-item {
    display: none;
    width: 100%;
    height: 100%;
}

.content-item.active {
    display: block;
}

#background-image {
    width: 100%;
    height: 100%;
    background: url('j.png') no-repeat center center;
    background-size: cover;
    animation: blurImage 3s forwards;
}

@keyframes blurImage {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(8px);
    }
}

.audio-control {
    margin-top: auto;
    width: 60px;
    height: 60px;
    border: 2px solid green;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.audio-control.paused {
    border-color: blue;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}